<nav class="body">
    <h1 class="title">Seja bem vindo, Fulano de tal! </h1>
    <h1 class="title">Agência : 3232 Conta: 32414-6  </h1>
    <h1 class="title">Saldo Atual: R$ 54,00 </h1>
    <h3>Você está visualizando suas 10 últimas transferências</h3>
    <button>Nova transferência</button>

    <div>
        <table>
            <tr>
                <th>data</th>
                <th>valor</th>
                <th>Conta destino</th>
                <th>Nome</th>
                <th>cpf</th>
            </tr>
            <tr>
                <td>12/01/2020</td>
                <td>R$ 34,00</td>
                <td>3233 4345-2</td>
                <td>Andreza</td>
                <td>876234555-23</td>
            </tr>

            <tr>
                <td>12/01/2020</td>
                <td>R$ 34,00</td>
                <td>3233 4345-2</td>
                <td>Andreza</td>
                <td>876234555-23</td>

            </tr>

            <tr>
                <td>12/01/2020</td>
                <td>R$ 34,00</td>
                <td>3233 4345-2</td>
                <td>Andreza</td>
                <td>876234555-23</td>

            </tr>
        </table>
    </div>
</nav>